{% load crispy_forms_tags %}

<!--- modal form ----->
<div class="modal fade" id="sightingForm" tabindex="-1" role="dialog" aria-labelledby="sightingForm" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
		
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="sightingFormLabel">Submit a new sighting</h3>
			</div>

			<div class="modal-body">
				<form action="{% url 'deermap:postSighting' %}" method="post" id="sightingReport">
					{% crispy sightingForm %}
				</form>
			</div>
		</div>
	</div>
</div>
